/* background */
#bg {
    background: url("/images/stoffeln.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* background button */
#mode {
    background-color: rgb(100, 100, 100);
    color: rgb(200, 200, 200);
    border: none;
    width: 90px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    float: right;
}

#mode:hover {
    background-color: rgb(80, 80, 80);
}